[submodule "vim/bundle/julia-vim"]
	path = vim/bundle/julia-vim
	url = https://github.com/JuliaLang/julia-vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = git@github.com:Anthony25/gnome-terminal-colors-solarized.git
[submodule "vim/bundle/vim-javascript-syntax"]
	path = vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/bundle/vim-hybrid"]
	path = vim/bundle/vim-hybrid
	url = git@github.com:w0ng/vim-hybrid.git
[submodule "vim/bundle/vim-autoclose"]
	path = vim/bundle/vim-autoclose
	url = git@github.com:Townk/vim-autoclose.git
[submodule "vim/bundle/vim-matchit"]
	path = vim/bundle/vim-matchit
	url = git@github.com:edsono/vim-matchit.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim/bundle/vim-action-ag"]
	path = vim/bundle/vim-action-ag
	url = https://github.com/Chun-Yang/vim-action-ag.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/tern_for_vim"]
	path = vim/bundle/tern_for_vim
	url = git@github.com:ternjs/tern_for_vim.git
[submodule "vim/bundle/typescript-vim"]
	path = vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/bundle/tsuquyomi"]
	path = vim/bundle/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
[submodule "vim/bundle/vimproc.vim"]
	path = vim/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
